@import "tailwindcss";
.connectbtn:hover{
   padding: 13px;
   /* gap: 20px; */
}
/* center text hero section */
.gradient-text {
            background: linear-gradient(135deg, #00BFA6 0%, #00DD44 50%, #00BFA6 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            background-size: 200% 200%;
            animation: gradientShift 3s ease-in-out infinite;
        }        
.glowtext {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
   text-shadow: 
    /* 0 0 10px rgba(0, 191, 166, 0.6), */
    /* 0 0 20px rgba(1, 97, 121, 0.5), */
    0 0 1000px rgba(0, 191, 166, 0.4);
}
.primaryfont{
  font-family: "Space Grotesk", sans-serif;
   
}
.green_border{
  border-color: rgba(0, 191, 166, 0.4);;
}
.primary-body{
    background-color: rgb(0,11,12);
}
.discoverbg{
  background-image: url('./assets/img/discover.png');
  height: 90vh;
  background-repeat: no-repeat;
  }.discoverbg {
  min-height: auto;
  height: auto;
}
.red{
  border: 2px solid red;
}