@import "tailwindcss";

.connectbtn{
   background-image: linear-gradient( #0CDDF4,#016179); 

}
.connectbtn:hover{
   padding: 13px;
   /* gap: 20px; */
}


/* center text hero section */
.gradient-text {
            background: linear-gradient(135deg, #00BFA6 0%, #00DD44 50%, #00BFA6 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            background-size: 200% 200%;
            /* animation: gradientShift 3s ease-in-out infinite; */
        }